.app-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    gap: 10px;
    background: #007298;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-right: 5px;

    &:hover {
        background: #016486;
    }

    &:focus {
        background: #007298;
    }

    &:active {
        background: #ddedf3;
    }

    &__single-icon {
        padding: 13px;
    }
}
.app-button__inactive {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13px 36px;
    gap: 10px;
    background: rgb(119, 119, 120);
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    cursor: default;
    margin-right: 5px;
}