<app-header>
  <p username>{{testUser.username}}</p>
  <app-button loginButton [buttonText]="headerButtonText" (click)="loginClick($event)"></app-button>
</app-header>
<div class="app-root">
  <!-- Search component -->
  <!--<app-search></app-search>-->

  <!-- Info component -->
  <app-info [title]="infoTitle" [text]="infoText">
    <app-button addButton [buttonText]="infoButtonText" (click)="addNewCourseClick($event)"></app-button>
  </app-info>
  
  <!-- Course Card component -->
  <app-course-card [editable]="true" [title]="testCourse.title" [description]="testCourse.description"
    [authors]="testCourse.authors" [duration]="testCourse.duration" [creationDate]="testCourse.creationDate"
    (clickOnShow)="showCourseClick($event)">
    <app-button deleteButton [iconName]="deleteButtonName" (click)="deleteCourseClick($event)"></app-button>
    <app-button editButton [iconName]="editButtonName" (click)="editCourseClick($event)"></app-button>
  </app-course-card>

  <!-- Course list component -->
  <app-course-list [editable]="true" [courses]="testCourses"
    (showCourse)="showCourseClick($event)" (deleteCourse)="deleteCourseClick($event)" 
    (editCourse)="editCourseClick($event)"></app-course-list>

  <!-- Login Form component -->
  <!--<app-login-form></app-login-form>-->

  <!-- Login Form component -->
  <!--<app-registration-form></app-registration-form>-->

  <!-- Login Form component -->
  <!--<app-course-form></app-course-form>-->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
