<app-header>
  <div class="app-header-right-panel">
    <div class="app-header-right-panel-username">
      <p>{{user.name}}</p>
    </div>
    <app-button [buttonText]="headerButtonText" (click)="logoutClick($event)"></app-button>
  </div>
</app-header>
<div class="app-root">
  <router-outlet (activate)="loadHeader()"></router-outlet>

  <!-- Courses component -->
  <!--
  <app-courses></app-courses>
  -->
  
  <!-- Info component -->
  <!--
  <app-info [title]="infoTitle" [text]="infoText">
    <app-button [buttonText]="infoButtonText" (click)="addNewCourseClick($event)"></app-button>
  </app-info>
  -->

  <!-- Course Card component -->
  <!--
  <app-course-card [editable]="true" [course]="testCourse" (clickOnShow)="showCourseClick($event)">
    <app-button [iconName]="deleteButtonIconName" (click)="deleteCourseClick($event)"></app-button>
    <app-button [iconName]="editButtonIconName" (click)="editCourseClick($event)"></app-button>
  </app-course-card>
  -->

  <!-- Course info component -->
  <!--
  <app-course-info [course]="testCourse"></app-course-info>
  -->

  <!-- Login Form component -->
  <!--
  <app-login-form></app-login-form>
  -->

  <!-- Registration Form component -->
  <!--
  <app-registration-form></app-registration-form>
  -->

  <!-- Course Form component -->
  <!--
  <app-course-form></app-course-form>
  -->

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
