.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.app-header-right-panel {
  display: flex;
  padding: 0 30px;
}
.app-header-right-panel-username {
  display: flex;
  padding: 0 30px;
  font-weight: bold;
}