<!-- Search component -->
<app-search [placeholder]="searchPlaceholderText" (search)="searchClick($event)"></app-search>

<!-- Course list component -->
<app-course-list [editable]="true" [courses]="(courses | async)"
    (showCourse)="showCourseClick($event)" (deleteCourse)="deleteCourseClick($event)" 
    (editCourse)="editCourseClick($event)">
</app-course-list>

<div class="course_create_section">
    <app-button [buttonText]="createCourseButtonText" routerLink="/courses/add"></app-button>
</div>